# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
.venv/
venv/
env/

# Environment variables file
.env

# PyCharm project settings
.idea/

# pipenv virtual environment file
Pipfile.lock

# Flask instance folder
instance/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.DS_Store

#Output Test Generation
output/generated_tests.py
output/generated_tests_e2e.py

#Input specs,scenarios and sample outputs
specs/dd_spec.yaml
scenarios/dd_scenarios.txt
mock/dd_test_scenarios.json


